<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div class="body-wrapper">

    <header class="header">
        <div class="container" style="text-align: center">
            <div class="header__inner">
                <div class="header__title">My Library</div>
                <a href="index.html" class="header__link">Back to Library</a>
            </div>
        </div>
    </header>

    <div class="content">
        <div class="container">

            <div class="content__main content__main--width-full">
                <h2 class="content__title">Editing Library</h2>
            </div>

            <table class="table">
                <tr class="table__row">
                    <th class="table__title">Название книги</th>
                    <th class="table__title">Автор</th>
                    <th class="table__title">Редактировать</th>
                    <th class="table__title">Удалить</th>
                </tr>
                <tr class="table__row">
                    <td class="table__cell">Вино из одуванчиков</td>
                    <td class="table__cell">Р. Бредберри</td>
                    <td class="table__cell"><a href="#" class="table__link">+</a></td>
                    <td class="table__cell"><a href="#" class="table__link">-</a></td>
                </tr>
            </table>

            <form action="" class="form form--border-none">
                <h3 class="form__title">Добавить новую книгу</h3>
                <input type="text" class="form__input" placeholder="Введите название книги"><br>
                <input type="text" class="form__input" placeholder="Введите автора"><br>
                <textarea rows="10" type="text" class="form__textarea">Введите текст книги</textarea><br>
                <input type="submit" class="form__input" value="Отправить"><br>
            </form>

        </div>
    </div>

    <footer class="footer">
        <div class="container" style="text-align: center">
            <div class="footer__inner">
                footer here
            </div>
        </div>
    </footer>

</div>
</body>
</html>